name: main

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        swiftver:
          - swift:5.8
        swiftos:
          - focal
          - jammy
    container: ${{ format('{0}-{1}', matrix.swiftver, matrix.swiftos) }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Run tests with Thread Sanitizer
        run: swift test --sanitize=thread

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2

      - name: Setup
        run: npm install semantic-release

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
